.blog {
    background-color: #e6e7fb;
    display: flex;
    justify-content: center;
    height: 93vh;
}

.blog-container {
    background-color: white;
    width: 60%;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-header {
    color: rgb(65, 65, 65);
    margin: 5px 0 0 0;
    text-align: center;
}

.blog-text {
    color: rgb(65, 65, 65);
}

.blog-image {
    width: 100%;
}

.blog-date {
    font-size: 14px;
    color: grey;
}

.blog-post :hover {
    text-decoration: underline;
}