body {
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  background-color: #032055;
  height: 93vh;
 }

button {
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
  width: 200px;
  border: none;
  font-size: medium;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  background-color: #3635b8;
  color: white;
}

button:hover {
  color: rgb(75, 73, 73);
}

.main-container {
  background-color: #f3f6fe;
  margin: 10vmin 0 10vmin 0;
  border-radius: 20px;
  width: 85%;
  display: flex;
  box-shadow: 0 0 40px 20px rgba(1, 15, 40);
}

.main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-family: Arial;
}

.header {
  background-color: #1a1450;
  height: 7vh;
  display: flex;
  border-bottom: #375181 1px solid;
}

.footer {
  background-color: #1a1450;
  height: 7vh;
  display: flex;
  border-top: #375181 1px solid;
}

.header-text {
  margin: auto auto auto 20px;
  color: white;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 2px;
}

.main-text {
  background-color: #f3f6fe;
  flex-grow: 1;
  padding: 20px;
  border-radius: 0 20px 20px 0;
}


@media (max-width: 1024px) {
  .main-buttons {
    justify-content: start;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .header-text {
    color: white;
    padding: 10px;
    letter-spacing: normal;
    margin: auto auto auto auto;
  }

  .main-container {
    margin: 5vmin 0 5vmin 0;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .main-buttons {
    margin: 10px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-self: center;
  }

    button {
    padding: 10px;
    margin: 0;
    width: 100%;
    font-size: 14px;
  }

  .main-text {
    border-radius: 0 0 20px 20px;
  }
}